.body {
    background: linear-gradient(to left top, rgb(0, 0, 0), rgb(146, 143, 146), rgb(211, 211, 211), black);
}

.c-item {
    height: 520px;
    border-bottom: 2px solid gray;
}

.c {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.card-div {
    height: auto;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

.card {
    margin: 50px;
    width: 400px;
    height: auto;
    box-shadow: 10px 10px 20px;
}

.Speech-div {
    display: flex;
    height: 320px;
    margin-left: 50px;
    margin-right: 50px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 10px 10px 40px rgb(0, 0, 0);
}

.Quoats-image {
    width: 2%;
    height: 2px;
    padding: 10px;
}

.Quoats {
    height: 200px;
    color: rgb(32, 30, 30);
    padding: 50px;
}

.Feedback {
    display: flex;
    margin: 20px;
}

.Write {
    height: 200px;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    color: aliceblue;
}